{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Home</title>{% endblock title %}
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
<div>
    <h1 id="hello">Hello World!</h1>
<form id="form" name="form"> 
<input type="text" id="search" name="search">
<input id="submit" type="submit" value="Submit">
</form>
</div>
{% endblock content %}
{% block scripts %}
<script>
let validate = () => {
	let input = document.querySelector("#search").value;
	if (/^[a-zA-Z]{3,16}$/.test(input.value)){
		return true;	
	}
	else{
		event.stopImmediatePropagation();
		event.PreventDefault();
		input.value = "";
		alert("Attacked by Prans");
		return false;
	}
}
const submit = document.querySelector("#submit");
submit.addEventListener("click",validate);
</script>
{% endblock scripts %}
