{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <link rel="stylesheet" type="text/css" href="{% static '/style/style.css' %}">
    </head>

    <body>
        <div class="container">
            <div class="full-card">
                <h1 class="login-header is-size-2 has-text-centered">Create a new account</h1>
                <form id="login-form" class="login-form" action="" method="post">
                    <div class="field-container">
                        <div class="field">
                            <div class="control">
                                <input id="fn" class="input" type="text" placeholder="First name" minlength="2"
                                    maxlength="45" onkeyup="doValidate(this)" required>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input id="ln" class="input" type="text" placeholder="Last name" minlength="2"
                                    maxlength="45" onkeyup="doValidate(this)" required>
                            </div>
                        </div>
                    </div>
                    <p class="help in-field">No special characters</p>
                    <div class="field">
                        <div class="control">
                            <input id="dob" class="input" type="text" placeholder="Date of birth" maxlength="10"
                                onchange="doValidate(this)" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input id="em" class="input" type="email" placeholder="Email Address" maxlength="100"
                                onkeyup="doValidate(this)" required>
                        </div>
                        <p class="help in-field">example: johndoe@foobar.com</p>
                    </div>
                    <div class="field-container">
                        <div class="field">
                            <div class="control has-icons-right">
                                <input id="pw" class="input" type="password" name="password" placeholder="Password"
                                    minlength="10" maxlength="45" onkeyup="doValidate(this)" required>
                                <span id="pwEye" class="icon is-action is-large is-right" onmousedown="toggleEye(this);"
                                    onmouseup="toggleEye(this);">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control has-icons-right">
                                <input id="cpw" class="input" type="password" name="confirm_password"
                                    placeholder="Confirm Password" minlength="10" maxlength="45"
                                    onkeyup="doValidate(this)" required>
                                <span id="cpwEye" class="icon is-action is-large is-right" onmousedown="toggleEye(this);"
                                    onmouseup="toggleEye(this);">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <p class="help in-field">Minimum 10 characters</p>
                    <div>
                        <span id="error_text" class="help has-text-danger is-hidden">Custom error message</span>
                    </div>
                    <div class="pwn-container is-size-6">
                        <div class="pwn-step1 is-hidden" onClick="doPwn()">
                            Check if password was exposed in data breaches?
                            <i class="far fa-question-circle"></i>
                        </div>
                        <div class="pwn-step2 is-hidden">
                            <i class="fas fa-circle-notch fa-spin"></i>
                        </div>
                        <div class="pwn-step3-good has-text-success is-hidden">
                            Looks like you are all clear!
                            <i class="far fa-check-circle"></i>
                        </div>
                        <div class="pwn-step3-danger has-text-danger is-hidden">
                            Oh no! Looks like this password was previously leaked in a data breach!
                            <i class="far fa-times-circle"></i>
                        </div>
                    </div>
                    <div class="login-btn-box">
                        <input id="btnRegister" class="button is-medium" type="submit" value="Sign Up">
                    </div>
                </form>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script defer type="text/javascript" src="{% static '/scripts/sha1.js' %}"></script>
        <script defer type="text/javascript" src="{% static '/scripts/register.js' %}"></script>
    </body>

</html>